[Desktop Entry]
Name=EasyDiffraction
GenericName=Python application
Comment=Making diffraction data analysis and modelling easy.
Exec=easyDiffraction
Icon=${SNAP}/meta/gui/easyDiffraction.png
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
